$colors: (
    primary: #11945a,
    primary-var: #0d7044,
    secondary: #2ac782,
    secondary-var: #21b876,

    text: #252525,
);

$breakpoints: (
    m: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);